.nav {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 8rem;
    margin-right: 9rem;
}

.logo {
    margin-left: 0;
    font-family: "Biennale";
}

.nav-links-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-links {
    color: rgba(44, 43, 43, 0.936);
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    cursor: default;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
}

.nav-links:hover,
.nav-links.active {
    color: rgb(149, 148, 148);
    transition: 0.3s ease-in-out;
}
